training
deepv2d_env
Dockerfile
evaluation
training

models/scannet.ckpt.index
models/kitti.ckpt.index
models/kitti.ckpt.data-00000-of-00001
models/uncalibrated.ckpt.meta
models/kitti.ckpt.meta
models/uncalibrated.ckpt.data-00000-of-00001
models/scannet.ckpt.meta
models/checkpoint
models/uncalibrated.ckpt.index
models/scannet.ckpt.data-00000-of-00001

data/download_nyu_data.sh
data/demos/kitti_3
data/demos/kitti_3/004.png
data/demos/kitti_3/001.png
data/demos/kitti_3/intrinsics.txt
data/demos/kitti_3/002.png
data/demos/kitti_3/000.png
data/demos/kitti_3/003.png
data/demos/common.mov
data/demos/kitti_2
data/demos/kitti_2/004.png
data/demos/kitti_2/001.png
data/demos/kitti_2/intrinsics.txt
data/demos/kitti_2/002.png
data/demos/kitti_2/000.png
data/demos/kitti_2/003.png
data/demos/golf.mov
data/demos/scannet_0
data/demos/scannet_0/2.png
data/demos/scannet_0/1.png
data/demos/scannet_0/6.png
data/demos/scannet_0/7.png
data/demos/scannet_0/0.png
data/demos/scannet_0/5.png
data/demos/scannet_0/intrinsics.txt
data/demos/scannet_0/4.png
data/demos/scannet_0/3.png
data/demos/nyu_2
data/demos/nyu_2/004.png
data/demos/nyu_2/001.png
data/demos/nyu_2/intrinsics.txt
data/demos/nyu_2/002.png
data/demos/nyu_2/000.png
data/demos/nyu_2/007.png
data/demos/nyu_2/005.png
data/demos/nyu_2/006.png
data/demos/nyu_2/003.png
data/demos/scannet_1
data/demos/scannet_1/2.png
data/demos/scannet_1/1.png
data/demos/scannet_1/6.png
data/demos/scannet_1/7.png
data/demos/scannet_1/0.png
data/demos/scannet_1/5.png
data/demos/scannet_1/intrinsics.txt
data/demos/scannet_1/4.png
data/demos/scannet_1/3.png
data/demos/nyu_1
data/demos/nyu_1/004.png
data/demos/nyu_1/001.png
data/demos/nyu_1/intrinsics.txt
data/demos/nyu_1/002.png
data/demos/nyu_1/000.png
data/demos/nyu_1/007.png
data/demos/nyu_1/005.png
data/demos/nyu_1/006.png
data/demos/nyu_1/003.png
data/demos/kitti_0
data/demos/kitti_0/004.png
data/demos/kitti_0/001.png
data/demos/kitti_0/intrinsics.txt
data/demos/kitti_0/002.png
data/demos/kitti_0/000.png
data/demos/kitti_0/003.png
data/demos/kitti_1
data/demos/kitti_1/004.png
data/demos/kitti_1/001.png
data/demos/kitti_1/intrinsics.txt
data/demos/kitti_1/002.png
data/demos/kitti_1/000.png
data/demos/kitti_1/003.png
data/demos/nyu_3
data/demos/nyu_3/004.png
data/demos/nyu_3/001.png
data/demos/nyu_3/intrinsics.txt
data/demos/nyu_3/002.png
data/demos/nyu_3/000.png
data/demos/nyu_3/007.png
data/demos/nyu_3/005.png
data/demos/nyu_3/006.png
data/demos/nyu_3/003.png
data/scannet
data/scannet/scannet_test.txt
data/download_models.sh
data/download_kitti_data.sh
data/Depths.png
data/nyu/eigen_test_files.txt
data/nyu/train_scenes.txt
data/download_slam_sequences.sh
data/demo.gif
data/kitti
data/kitti/test_scenes_eigen.txt
data/kitti/test_files_eigen.txt
data/kitti/train_scenes_eigen.txt
